{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Words" %}. {{ block.super }} {% endblock %}

{% block header_text %}
    {% trans "Words list" %}
{% endblock %}

{% block content %}

    <ul>
    {% for word in object_list %}
        <li> 
            {{ word.name }} ({{ word.language.name }}) - 
            {% for w in word.words.all %}
                {{ forloop.counter }}. {{ w.name }} ({{ w.language.name }})
            {% endfor %}
        </li>
    {% endfor %}
    </ul>

{% endblock content %}
