{% load static %}
{% load thumbnail %}
{% load i18n %}
{% load compress %}

<html>
    <head>
        <title> {% block title %}{% trans site_settings.title %}{% endblock %} </title>
    
        <meta property="og:url"                content="{{ request.build_absolute_uri }}" />
        <meta property="og:type"               content="article" />
        <meta property="og:image"              content="{% if request.is_secure %}https{%else%}http{%endif%}://{{request.get_host}}{% static site_settings.logo.url %}" />
    {% block og_tags %} 
        <meta property="og:title"              content="{{ site_settings.og_meta_tag_title }}" />
        <meta property="og:description"        content="{{ site_settings.og_meta_tag_description }}" />
    {% endblock %}

        <script type="text/javascript" src="{% static "js/jquery-3.1.1.min.js" %}"></script>
        
    {% compress css %}
    {% block css %} 
{% if site_settings.favicon %}
        <link rel="shortcut icon" href="{% static site_settings.favicon.url %}">
{% endif %}
        <link rel="stylesheet" href="{% static "css/base.css" %}">
    {% endblock %}
    {% endcompress css %}
    </head>
    <body>
        <div id="page-wrapper">

            <div id="above-footer">
                <div id="header-wrapper"> 
                {% block header %}

            {% if site_settings.logo %}
            {% thumbnail site_settings.logo "150x100" as im %}
                    <div class="logo-wrapper">
                        <a href="/"><img class="logo" src="{% static im.url %}"></a>
                    </div>
            {% endthumbnail %}
            {% endif %}

                    <h1 align="center">
            {% block header_text %}
                
                {% if site_settings.header|length %}
                     {{ site_settings.header }} 
                {% endif %}
                    
            {% endblock %}
                    </h1>

                    <!-- breadcrumbs -->
                    <div class="bottom-left-wrapper">
                        <div class="breadcrumbs">
                            {% for breadcrumb in breadcrumbs %}
                                <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a> |
                            {% endfor %}
                        </div>
                    </div>                    

                    <div class="top-right-wrapper">
                        <div class="toplinks-wrapper vert-center toplinks">
                        {% block toplinks %}
                        {% endblock toplinks %}
                {% if request.user.is_authenticated %}
                    {% if request.user.is_staff %}
                            <a class="login-link" href="{% url 'admin:index' %}">{% trans "Admin" %}</a> |
                    {% endif %}
                {% endif %}
                
                {% if request.user.is_authenticated %}
                            <a class="login-link" href="{% url 'logout' %}?next={{ request.path }}">{% trans "Sign out" %}</a>
                {% else %}
                            <a class="login-link" href="{% url 'admin:login' %}?next={{ request.path }}">{% trans "Sign in" %}</a>
                            <a class="login-link" href="{% url 'social:begin' 'google-oauth2' %}">Google+</a>
                {% endif %}
                        </div>
                    {% endblock %}

                        <div class="language-change vert-center">
                            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ redirect_to }}" />
                                <select name="language">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    {% for language in languages %}
                                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                            {% trans language.name_local %} ({{ language.code }})
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Go" />
                            </form>
                        </div>
                    </div>
                </div>
                <div id="content-wrapper"> {% block content %} {% endblock %} </div>
            </div>

            <div id="footer-wrapper">
                {% block footer %} {{ site_settings.footer }} {% endblock %}
                <div id="queries-counter"> {{ connection.queries | length }} queries</div>
            </div>


        </div>
    </body>
    {% compress js %}
    {% block js %}
    <script type="text/javascript">
        var isUserAuthenticated ={% if request.user.is_authenticated %} true {% else %} false {% endif %};
    </script>
    <script type="text/javascript" src="{% static "js/base.js" %}"></script>
    {% endblock js %}
    {% endcompress js %}
</html>