{% extends 'base.html' %}
{% load i18n %}
{% block header_text %}
    {% trans "Welcomen" %}, {% if request.user.is_authenticated %}{{ request.user.username }}{% else %}{% trans "guesto" %}{% endif %}

{% endblock %}

{% block content %}
    <div class="plugins">
        <h3> {% trans 'Available plugins' %}: </h3>
        <ul class="plugins">
        {% for plugin in plugins %}
            <li> <a href="{% url plugin|add:':index' %}">{% blocktrans %}{{ plugin }}{% endblocktrans %}</a> </li>
        {% endfor %}
        </ul>
    </div>
{% endblock%}