
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fefefe;
}

#above-footer {
    min-height: 93vh;
}

@media (max-height: 700px) {
    #above-footer {
        min-height: 92vh;
    }
}

#page-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
}


/* header start */
#header-wrapper {
    overflow: hidden;
    position: relative;
}

#header-wrapper .logo-wrapper {
    text-align: center;
}

#header-wrapper .bottom-left-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: .75em;
    height: 2em;
}

#header-wrapper .top-right-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    font-size: .75em;
    height: 2em;
}

#header-wrapper .toplinks-wrapper {
    position: relative;
    float: right;
}

#header-wrapper .language-change {
    position: relative;
    float: right;
    margin-right: 2em;
}

#header-wrapper .language-change form {
    margin: 0;
}

#header-wrapper a.login-link {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#header-wrapper a.login-link:hover {
    text-decoration: underline;
}

#header-wrapper img.logo {
    max-height: 5em;
    max-width: auto;
}

/* header end */

/* footer start */
#footer-wrapper {
    text-align: center;
    margin-top: 0.5em;
    font-size: .85em;
}
/* footer end */






.vert-horiz-center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.vert-center {
    top: 50%;
    transform: translateY(-50%);
}

.horiz-center {
    left: 50%;
    transform: translateX(-50%);
}