.priority-1 {

}
.priority-2 {
    color: orange;
    margin: 0.05em 0;
}
.priority-3 {
    color: red;
    margin: 0.1em 0;
    font-size: 1.05em;
}

li[data-is-done="True"] {
    color: green;
    margin: 0;
    font-size: 1em;
    text-decoration: line-through;
}

span.parent-name {
    font-size: .65em;
}

li:hover {
    background-color: #f5f5f5;
}

li > ul > li:hover {
    background-color: #fefefe;
}

.up {
    text-decoration: none;
}

.update {
    font-size: .3em;
    position: relative;
    top: -1.4em;
}

.add-task {
    text-decoration: none;
}



#root-tasks-wrapper {
    width: 100%;
    text-align: center;
}
