{% extends 'base.html' %}
{% load i18n %}
{% block header_text %}
    {% trans "Tasks" %}
{% endblock %}

{% block content %}
    <ul class="plugins">
    {% for task in tasks %}
        <li> {{ task }} </li>
    {% endfor %}
    </ul>
{% endblock%}