{% for task in object_list %}
    <li class="priority-{{ task.priority }}" data-is-done="{{ task.is_done }}"> 
    {% if task.parent %}
        <span class="parent-name">[{{ task.parent.name }}]</span>
    {% endif %}
        <a href="{% url 'tasks:task-detail' task.slug %}">{{ task.name }}</a> {% if task.description %} ({{ task.description }}) {% endif %}
    {% if task.task__count %}
        <span> ({{ task.task__count }}) </span>
    {% endif %}
        <a href="{% url 'tasks:task-update' task.id %}">e</a>
        <a href="{% url 'tasks:task-toggle-ready' task.id %}">v</a>
        <a href="{% url 'tasks:task-delete' task.id %}">x</a>
    </li>
{% endfor %}