{% for task in object_list %}
    <li class="priority-{{ task.priority }}" data-is-done="{{ task.is_done }}"> 
        <a href="{% url 'tasks:task-detail' task.slug %}">{{ task.name }}</a> 
    {% if task.subtasks_count %}
        <span> ({{ task.subtasks_count }}) </span>
    {% endif %}
        <a href="{% url 'tasks:task-update' task.id %}">e</a>
        <a href="{% url 'tasks:task-toggle-ready' task.id %}">v</a>
        <a href="{% url 'tasks:task-delete' task.id %}">x</a>
        <a class="add-task" href="{% url 'tasks:task-add-with-parent' task.id %}">+</a>
    {% if task.description %}
        <span>({{ task.description }})</span>
    {% endif %} 

    

    {% if recursion_counter.count < 2 and task.subtasks_count > 0 %}
        {{ recursion_counter.increment }}

        <ul> 
        {% with object_list=task.task_set.all %}
            {% include 'tasks/task_hierarchable_lies_template.html' %}  
        {% endwith %}
        </ul>

        {{ recursion_counter.decrement }}
    {% endif %}
    </li>
{% endfor %}