{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Tasks" %}. {{ block.super }} {% endblock %}

{% block header_text %}
    {% trans "Tasks plainlist" %} <a class="add-task" href="{% url 'tasks:task-add' %}">+</a>
{% endblock %}

{% block toplinks %}

<a href="{% url 'tasks:task-list-hierarchable' %}">{% trans "Tasks hierarchable" %}</a> |

{% endblock toplinks%}

{% block content %}

    <ul>
    {% include 'tasks/task_plainlist_lies_template.html' %}
    </ul>

{% endblock content %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/tasks.css" %}">
{% endblock %}