{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Task" %}: {{ block.super }} {% endblock %}

{% block header_text %}

{% if object.parent %} 
    <a class="up" href="{% url 'tasks:task-detail' object.parent.slug %}">←</a> 
{% else %}
    <a class="up" href="{% url 'tasks:task-list-hierarchable' %}">←</a> 
{% endif %}
    {% trans "Task" %}: {{ object.name }} 
    <a class="update" href="{% url 'tasks:task-update' task.id %}">{% trans 'Edit' %}</a>

{% endblock %}

{% block content %}
        <div> {{ task.description }} </div>

        <ul>
        {% with object_list=task.task_set.all %}
            {% include 'tasks/task_hierarchable_lies_template.html' %}
        {% endwith %}
        </ul>
{% endblock%}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/tasks.css" %}">
<link rel="stylesheet" href="{% static "css/tasks-hierarchy.css" %}">
{% endblock css %}