{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans "Remove task" %}. {{ block.super }} {% endblock %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        {% trans 'Removing' %} {% trans 'task' %} {{ object.name }}. {% trans 'Are you sure?' %}
        {% include 'tasks/next_page_input.html' %}
        <input type="submit" value="{% trans 'Yes, I am - sure' %}">
    </form>
    <a href="{% url 'tasks:task-detail' object.slug %}"> {% trans 'No, not yet' %} </a>
{% endblock%}

{% block css %}
{{ block.super }}

{% endblock %}