{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "Tasks" %}. {{ block.super }} {% endblock %}

{% block header_text %}
    {% trans "Tasks hierarchable" %} <a class="add-task" href="{% url 'tasks:task-add' %}">+</a>
{% endblock %}

{% block toplinks %}

<a href="{% url 'tasks:index' %}">{% trans "Tasks plainlist" %}</a> |

{% endblock toplinks%}

{% block content %}
    <div id="root-tasks-wrapper">
        <span class="root-task"> [<a href="{% url 'tasks:task-list' %}">{% trans "All" %}</a>] </span>
        {% for task in object_list %}
            {% if task.parent_id is None %}
        <span class="root-task"> [<a href="{% url 'tasks:task-detail' task.slug %}">{{ task.name }}</a>] </span>
            {% endif %}
        {% endfor %}
        
    </div>
    
    <ul>
        {% include 'tasks/task_hierarchable_lies_template.html' %}
    </ul>
{% endblock content %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/tasks.css" %}">
<link rel="stylesheet" href="{% static "css/tasks-hierarchy.css" %}">
{% endblock %}