{% extends 'base.html' %}
{% load i18n %}
{% block header_text %}
    {% trans "Shop" %}
{% endblock %}

{% block content %}
    <ul class="plugins">
    {% for p in object_list %}
        <li> {{ p.name }} - ${{ p.price }} ${{ p.act_price }} ({{ p.discount }}%)</li>
    {% endfor %}
    </ul>
{% endblock%}